<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<script th:replace="fragments/header::header1">
	
</script>
<title></title>
</head>
<style>
.addBold {
	font-weight: bold;
}
</style>
<body>
	<div th:replace="fragments/header::header2"></div>
	<div class="container col-12">
		<div class="row">
			<div class="card col-xs-4 col-sm-9 col-md-6 col-lg-5 mt-5">
				<h3 class="card-header" id="dayMonthAndYear"></h3>
				<div class="card-body">
					<h5>Due Today:</h5>
					<ul id="display">
					</ul>
				</div>
				<div class="row d-flex justify-content-center">
					<div id="button1"></div>
					&nbsp;
					<div id="button2"></div>
				</div>
			</div>
			<div class="col-lg-1">
			
			</div>
			<div class="card col-xs-4 col-sm-9 col-md-6 col-lg-5 mt-5">
				<h3 class="card-header" id="monthAndYear"></h3>
				<table class="table table-bordered"
					id="calendar" style="cursor: pointer">
					<thead>
						<tr>
							<th>Sun</th>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
						</tr>
					</thead>

					<tbody id="calendar-body">
					</tbody>
				</table>

				<div class="form-inline ">

					<button class="btn btn-outline-primary col-sm-6" id="previous"
						onclick="previous()">Previous</button>

					<button class="btn btn-outline-primary col-sm-6" id="next"
						onclick="next()">Next</button>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var projects = /*[[${projects}]]*/[];
		var tasks = /*[[${tasks}]]*/[];
		/*]]>*/
	</script>
	<script src="calendar.js"></script>
</body>
</html>