<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
  $(function()
		  {
	  $("#tasks").click(function()
			  {
		  window.location.href="/tasks";
			  });
		  });
		  
  </script>
  <script th:replace="fragments/header::header1">
  </script>
</head>
<body>
<div th:replace="fragments/header::header2"></div>
	<h1>This is the Dashboard</h1>
	
			
	
	<form action="" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
			<button type="submit" class="btn">Tasks</button>
	</form>
</body>
</html>