<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.5.1.slim.js"
	integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
	crossorigin="anonymous"></script>
<script th:replace="fragments/header::header1">
	
</script>
</head>
<body>
	<div th:replace="fragments/header::header2"></div>
	<h1>Welcome [[${name}]]</h1>

	<div class="container py-4">
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card p-2" style="background-color: #FF6347" >
					<a class="card-block stretched-link text-decoration-none text-dark" th:href="@{'/projects'}">
						<h4 class="card-title" align="center">Projects</h4>
						<p class="card-text">A Project allows you to have small tasks.</p>

					</a>
				</div>
				<div class="card p-2" style="background-color: yellow">
					<a class="card-block stretched-link text-decoration-none text-dark" th:href="@{'/tasks'}">
						<h4 class="card-title" align="center">Tasks</h4>
						<p class="card-text">You can create tasks without needing a
							Project.</p>

					</a>
				</div>
				<div class="card p-2" style="background-color: SpringGreen">
					<a class="card-block stretched-link text-decoration-none text-dark" th:href="@{'/calendar'}">
						<h4 class="card-title" align="center">Calendar</h4>
						<p class="card-text">The calendar allows you to see the Due
							Dates of both Projects and Tasks. Project due dates will appear as red and Task due dates as yellow. The Project color overlaps
							the Task color.</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>