<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script th:replace="fragments/header::header1">
	
</script>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<script th:replace="fragments/header::header2">
		
	</script>
	<script type="text/javascript">
		function clearFilter() {
			window.location = "/tasks";
		}
	</script>
	<div style="margin-top: 2em;">
		<div th:if="${project==null}">
			<h2>No Project Tasks</h2>
		</div>
		<div th:if="${project!=null}">
			<h2>[[${project.getName()}]] Tasks</h2>
		</div>
	</div>
	<div align="right" style="margin-right: 5em">
		<form
			th:action="@{/tasks/page/1} + '?project=' + ${project} +
			'&sortField=' + ${sortField} +'&sortDir=' + ${sortDir} +'&progress=' + ${progress} + '&keyword=' + ${keyword}"
			th:object="${project}">

			<label>Project:</label> <select name="project">
				<option th:value=null th:text=null
					th:selected="${project==null}"></option>
				<option th:each="p : ${projects}" th:value="${p.getId()}"
					th:text="${p}" th:selected="${p==project}"></option>
			</select> &nbsp; <input type="hidden" name="progress" th:value="${progress}" />
			<input type="text" name="keyword" th:value="${keyword}" /> <label>Search:</label>
			<input type="hidden" name="sortField" th:value="${sortField}" /> <input
				type="hidden" name="sortDir" th:value="${sortDir}" /> <input
				type="submit" value="Search" /> <input type="button" value="Clear"
				onClick="clearFilter()" />
		</form>
	</div>
	<div align="center" class="table-responsive">
		<table class="table" border="1">
			<tr class="bg-info" bgcolor="#fff">
				<th data-column="name" data-order="desc">Name <a
					th:href="@{'/tasks/page/'+ ${currentPage}+ '?sortField=name&sortDir='+${reverseSortDir}+'&progress=' + ${progress} + '&keyword=' + ${keyword} }">
						&#9650</a></th>
				<th data-column="description" data-order="desc">Description</th>
				<th data-column="progress" data-order="desc">Progress</th>
			</tr>
			<tbody id="myTable">
				<tr th:each="task: ${tasks}"
					th:style="${task.progress} == ${T(com.todo.domain.Project.Progress).Completed} ? 'background-color: chartreuse' : 'background-color: yellow'">
					<td><a th:href="@{/tasks/{taskId}(taskId=${task.id})}"
						th:text="${task.getName()}"></a></td>
					<td th:text="${task.getDescription()}" />
					<td th:text="${task.progress}" />
				</tr>
			</tbody>
		</table>
		<div>
			&nbsp; <span th:unless="${totalPages<1}"> Total Items:
				[[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]] </span> <span
				th:unless="${totalPages>0}"> Total Items: [[${totalItems}]] -
				Page [[${0}]] of [[${totalPages}]] </span> &nbsp; <a
				th:if="${currentPage>1}"
				th:href="@{/tasks/page/1}+'?sortField=' +${sortField} +'&sortDir=' + ${sortDir} + '&progress=' + ${progress} +'&keyword='+ ${keyword}">First</a>
			<span th:unless="${currentPage>1}">First</span>- <a
				th:if="${currentPage>1}"
				th:href="@{'/tasks/page/'+${currentPage-1}}+'?sortField=' +${sortField} +'&sortDir=' + ${sortDir} + '&progress=' + ${progress} +'&keyword='+ ${keyword}">Previous</a>
			<span th:unless="${currentPage>1}">Previous</span>- <span
				th:each="i: ${#numbers.sequence(1,totalPages)}"
				th:if="${totalPages>0}"> <a th:if="${i != currentPage}"
				th:href="@{'/tasks/page/'+${i}} +'?sortField=' +${sortField} +'&sortDir=' + ${sortDir} + '&progress=' + ${progress} +'&keyword='+ ${keyword}">[[${i}]]
			</a> <span th:unless="${i != currentPage}">[[${i}]] </span> &nbsp; &nbsp;
			</span> <a th:if="${currentPage<totalPages}"
				th:href="@{'/tasks/page/'+${currentPage+1}}+'?sortField=' +${sortField} +'&sortDir=' + ${sortDir}+ '&progress=' + ${progress} +'&keyword='+ ${keyword}">Next</a>
			<span th:unless="${currentPage<totalPages}">Next</span>- <a
				th:if="${currentPage<totalPages}"
				th:href="@{'/tasks/page/'+${totalPages}}+'?sortField=' +${sortField} +'&sortDir=' + ${sortDir} + '&progress=' + ${progress} +'&keyword='+ ${keyword}">Last</a>
			<span th:unless="${currentPage<totalPages}">Last</span>

		</div>
	</div>
	<form th:action="@{/tasks/createTask} + '?project=' + ${project}" >
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
			<input th:if="${project==null}" type="hidden" name="project" th:value=null />
			<input th:if="${project!=null}" type="hidden" name="project" th:value="${project.getId()}" />
		<button class="submit btn btn-primary" type="submit">Add
			Task</button>
	</form>
</body>
</html>